version: "3"

# Starts up only the databases

services:
    db:
        image: postgres
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        ports: 
        - '5432:5432'
        networks:
        - default
        
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.12.1
        container_name: elasticsearch
        environment:
            - xpack.security.enabled=false
            - discovery.type=single-node
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        deploy:
            resources:
                limits:
                    cpus: '0.50'
                    memory: 1000M
                reservations:
                    cpus: '0.25'
                    memory: 500M
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        cap_add:
            - IPC_LOCK
        networks:
            - elastic
        ports:
            - 9200:9200
            - 9300:9300

networks:
  default:
  elastic:
    driver: bridge